apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-python-gugwpdxf
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-python-gugwpdxf:b2b794e9562be035c68947d1a17f1c680bf7ada1@sha256:556270fdc96a35a65638ca767cd91541552e14ad87f6725c5783f287293017ca
        name: container-image  
